{% import 'macros/modules.twig' as modules %}
<footer>
	<div class="row">
		<div class="small-12 medium-6 large-8 columns">
			<div class="media-object">
				<div class="media-object-section">
					<img src="{{ site.icon }}" alt="" width="64">
				</div>
				<div class="media-object-section main-section">
					<p class="mh-footer-title">{{ site.title }}</p>
					<p class="mh-footer-tagline">{{ site.tagline }}</p>
					<p class="mh-footer-description">{{ site.description }}</p>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 large-4 columns">
			<ul class="vcard">
				<li class="fn">{{ organization.title }}</li>
				<li class="street-address">{{ organization.address }}</li>
				<li class="locality">{{ organization.city }}</li>
				<li><span class="state">{{ organization.state }}</span>, <span class="zip">{{ organization.zip }}</span>
				</li>
				<li class="phone">{{ organization.phone }}</li>
				<li class="email"><a href="mailto:{{ organization.email }}">{{ organization.email }}</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
        {{ modules.module('mh-global-wide-menu', '/ui/menubar/main/wide') }}
	</div>
	<div class="row">
		{{ modules.module('mh-global-channels-available', '/contents/channels/external') }}
	</div>
	<div class="row">
		<div class="small-12">
			<p class="test-right"><a href="/pages/credits">Milhojas web application.</a></p>
		</div>
	</div>
</footer>
