{% import 'macros/modules.twig' as modules %}
<footer>
	<div class="row">
		<div class="small-12 medium-6 large-8 columns">
			<div class="media-object">
				<div class="media-object-section">
					<img src="{{ Site.icon}}" alt="" width="64">
				</div>
				<div class="media-object-section main-section">
					<p class="mh-footer-title">{{ Site.title }}</p>
					<p class="mh-footer-tagline">{{ Site.tagline }}</p>
					<p class="mh-footer-description">{{ Site.description }}</p>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 large-4 columns">
			<ul class="vcard">
				<li class="fn">{{ Organization.title }}</li>
				<li class="street-address">{{ Organization.address }}</li>
				<li class="locality">{{ Organization.city }}</li>
				<li><span class="state">{{ Organization.state }}</span>, <span class="zip">{{ Organization.zip }}</span></li>
				<li class="phone">986 213 047</li>
				<li class="email"><a href="mailto:{{ Organization.email }}">{{ Organization.email }}</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		{{ modules.module('mh-global-wide-menu', '/menus/bars/widebar/main') }}
	</div>
	<div class="row">
		{{ modules.module('mh-global-channels-available', '/contents/channels/external') }}
	</div>
	<div class="row">
		<div class="small-12">
			<p class="test-right"><a href="/pages/credits">Milhojas web application.</a></p>
		</div>
	</div>
</footer>
