{% import 'macros/modules.twig' as modules %}
<!doctype html>
<html class="no-js" lang="en">
	{{ include ('elements/page/head.twig') }}
  <body>
	{{ include('elements/page/analytics.twig') }}
	{{ include('elements/mh-global-navigation.twig') }}
	<div id="mh-messages">
		{# echo $this->Session->flash(); #}
		{# echo $this->Session->flash('auth'); #}
		<div id="output"></div>
	</div>
	{% block header %}
		{{ modules.module('mh-main-header', '/uploads/image_collections/collection/home') }}
		{% include 'elements/mh-direct-links.twig' %}
	{% endblock %}

	<div class="mh-page">
		<div class="row">
			<div class="small-12 medium-8 columns">

				{% block content %}
				{% endblock %}

			</div>

			<div class="small-12 medium-4 columns">
			{% block sidebar %}
				{% include 'widgets/menu.twig' with {'title': 'Encuentranos en', 'menu': 'social', 'selector': 'mh-social', 'icon': 'fi-eye'} only %}
				{{ modules.widget('mh-advert-charters', '/uploads/image_collections/collection/concertada', 'En colegios también puedes elegir') }}
				{{ modules.widget('mh-next-events', '/circulars/events/next', 'Próximos eventos') }}
                {{ modules.widget('mh-cantine-today', '/cantine/cantine/today/1',' Menú para hoy ('~ date()|date('l, j/n/Y') ~')') }}
				{{ modules.widget('mh-miralba-certifications', '/uploads/image_collections/collection/programas', 'Nuestras certificaciones') }}
				{{ modules.widget('mh-current-circulars', '/circulars/circulars/current', 'Últimas circulares') }}
				{% include 'widgets/menu.twig' with {'title': 'Proyectos', 'menu': 'proyectos', 'selector': 'mh-proyectos'} only %}
			{% endblock %}
			</div>
		</div>
	</div>

	{{ include ('elements/page/foot.twig') }}
	{% block page_scripts %}
	{% endblock %}
  </body>
</html>
