{% import 'macros/headers.twig' as headers %}
<!doctype html>
<html class="no-js" lang="en">
{{ include ('elements/page/head.twig') }}
<body>
{{ include('elements/page/analytics.twig') }}
{{ include('elements/mh-global-navigation.twig') }}
{{ include('elements/flash.twig') }}

{% block header %}
    {{ headers.simple('Bolsa de empleo') }}
{% endblock %}

<div class="mh-page">
    <div class="row">
        {% if visitor.id %}
        <div class="small-12 medium-3 columns">
            <nav>
                <p><a href="/resumes/resumes/home" class="button secondary expanded fi-home">Ir a la página
                        principal</a></p>
                <p><a href="/resumes/resumes/preview" class="button success expanded fi-eye">Ver tu currículum</a></p>
                <p><a href="/resumes/resumes/modify" class="button success expanded fi-torso">Datos personales y de
                        contacto</a></p>


                <hr/>
                {% for type in types %}
                    <p><a href="/resumes/merits/show/{{ type.MeritType.id }}"
                          class="button success expanded fi-sheriff-badge">{{ type.MeritType.title }}</a></p>
                {% endfor %}

                <hr/>

                <p><a href="/resumes/resumes/changepwd" class="button secondary expanded fi-key">Cambia tu
                        contraseña</a></p>
                <p><a href="/resumes/resumes/remove" class="button alert expanded fi-alert">Elimina tu currículum</a>
                </p>
                <hr>
                <p><a href="/resumes/resumes/logout" class="button warning expanded fi-power">Salir del área
                        personal</a></p>
            </nav>
        </div>
        <div class="small-12 medium-9 columns">
            {% else %}
            <div class="small-12 columns">


                {% endif %}
                {% block content %}
                {% endblock %}
            </div>

        </div>
    </div>

    {% block page_scripts %}

    {% endblock %}

    {{ include ('elements/page/foot.twig') }}

</body>
</html>
