{% extends 'layouts/main.twig' %}

{% block header %}
    {% import 'macros/headers.twig' as headers %}
    {{ headers.channel(blog.title, blog.tagline, blog.icon, blog.image) }}
    <div class="container mh-blog-menu"> {#echo $this->Channel->menu();#} </div>
{% endblock %}
{% block content %}
    {% import 'macros/catalog.twig' as catalog %}
    {% set blogIntro = 'Artículos' %}
    {% if tag %}
        {% set blogIntro %}
            <p>Artículos etiquetados con <strong>{{ tag }}</strong></p>
        {% endset %}
    {% endif %}
    {% if level_id %}
        {% set blogIntro %}
            <p>Artículos dirigidos al curso <strong>{{ level_id }}</strong></p>
        {% endset %}
    {% endif %}
    {% include 'elements/modules/articles.twig' with {
    'feeds': [
    { id: 'mh-blog-home', title: 'Portada', url: '/api/articles?blogs[]=%blog%&layout=index'|replace({'%blog%': blog.slug}) },

    ]
    } only %}



{% endblock %}

{% block sidebar %}
    {% import 'macros/modules.twig' as modules %}
    {% include 'plugins/contents/channels/widgets/description.twig' with {'channel': blog} only %}
    {{ modules.widget('mh-blog-labels', '/contents/channels/tags/'~blog.id, 'Etiquetas', '') }}
    {{ modules.widget('mh-blog-recent', '/articles/catalog?blogs[]=%blog%&featured=true&layout=channel_feed'|replace({'%blog%': blog.slug}), 'Artículos destacados', '') }}
{% endblock %}
