{% extends 'layouts/main.twig' %}

{% block header %}
    {% import 'macros/headers.twig' as headers %}
    {{ headers.article(article, blog, article.image) }}
    <div class="container mh-channel-menu">{# echo $this->Channel->menu(); #}</div>
{% endblock %}

{% block content %}
    {% if preview %}
        <aside class="mh-preview-ribbon">Así es como se verá</aside>
    {% endif %}
    {% if article.expiration and date(article.expiration) < date('now') %}
        <div class="alert-box warning radius">
            <p>Este artículo ha caducado, por lo que la información que contiene podría no ser válida actualmente. Se mantiene por razones históricas.</p>
            <a href="#" class="close">[cerrar]</a>
        </div>
    {% endif %}

    {{ article.content|parse|raw }}

    {% import 'macros/modules.twig' as modules %}

    {#{{ modules.module('mh-image-gallery', '/uploads/article/gallery/%gallery%/%article%'|replace({'%gallery%': article.gallery, '%article%': article.slug}) ) }}#}

    {% include 'elements/modules/images.twig' with {'context': 'article', 'alias': article.slug } only %}
    {% include 'elements/modules/downloads.twig' with {'context': 'article', 'alias': article.slug } only %}
{% endblock %}

{% block sidebar %}
    {% import 'macros/blocks.twig' as blocks %}
    {{ blocks.widget('Resumen', article.content|striptags|abstract, 'fi-check' ) }}
    {% include 'plugins/contents/items/widgets/mdata.twig' %}
    {% include 'plugins/contents/items/widgets/social.twig' %}
    {% include 'plugins/contents/items/widgets/tags.twig' %}
    {% include 'plugins/contents/items/widgets/neighbors.twig' %}
    {% include 'plugins/contents/channels/widgets/description.twig' with {'channel' : blog } %}
    {{ blocks.widget('Licencia', 'License should be here', 'fi-info' ) }}
{% endblock %}
