<!-- “Video For Everybody” v0.3  http://camendesign.com/code/video_for_everybody
     =================================================================================================================== -->
<!-- first try HTML5 playback. if serving as XML, expand `controls` to `controls="controls"` and autoplay likewise -->
<p class="mh-multimedia-header clearfix"><span class="left">{{ video.name|humanize}}</span> <small class="right">Duración: {{ video.playtime|readable_playtime }}</small> </p>
<div class="mh-multimedia">
<video id="{{video.name}}" width="100%" height="auto" controls class="clearfix">
	<source src="{{video.path}}" type='video/mp4'>
	<source src="{{video.path}}.ogg" type='video/ogg; codecs="theora, vorbis"'>
	<!-- IE only QuickTime embed: IE6 is ignored as it does not support `<object>` in `<object>` so we skip QuickTime
	     and go straight to Flash further down. the line break after the `classid` is required due to a bug in IE -->
	<!--[if gt IE 6]>
	<object width="{{video.width}}" height="{{ video.height + 15 }}" classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" scale="aspect"><!
	[endif]-->
	<!-- non-IE QuickTime embed (hidden from IE): the self-closing comment tag allows non-IE browsers to
	     see the HTML whilst being compatible with serving as XML -->
	<!--[if !IE]><!-->
	<object width="{{video.width}}" height="{{ video.height + 15 }}" type="video/quicktime" data="{{video.path}}" scale="aspect">
	<!--<![endif]-->
	</object><!--[if gt IE 6]><!-->
	</object><!--<![endif]-->

</video>
</div>
