{% extends 'layouts/story.twig' %}
{% block content %}

{#
	$this->Page->browserTitle($this->StaticPage->value('title').' @ ' . Configure::read('Site.title'));
#}

<article class="mh-page">
	{% if preview %}
		<aside class="mh-preview-ribbon">Así es como se verá</aside>
	{% endif %}

	{% if staticPage.Parents %}
		{% include 'plugins/contents/static_pages/widgets/breadcrumbs.twig' with { 'parents': staticPage.Parents } only %}
	{% endif %}

	{% import "macros/headers.twig" as headers %}
	{% if staticPage.MainImage %}
		{{ headers.minimal_with_image(staticPage.StaticPage.title, staticPage.MainImage.path )}}
	{% else %}
		{{ headers.minimal(staticPage.StaticPage.title )}}
	{% endif %}

	<div class="row">
		<div class="small-12 medium-7 columns">

			{{ staticPage.StaticPage.content|parse|raw }}

			{% if staticPage.Image|length > 1 %}
				{% include ('plugins/images/galleries/'~staticPage.StaticPage.gallery~'/layout.twig')  %}
			{% endif %}

			{% if staticPage.Multimedia %}
				{% include 'plugins/contents/items/widgets/multimedia.twig' %}
			{% endif %}

			{% if staticPage.Download %}
				{% include 'plugins/contents/items/widgets/downloads.twig' %}
			{% endif %}

			{% if staticPage.StaticPage.project_key %}
			<div id="mh-page-dinamic-related" class="mh-page-extras">
				{# echo $this->Page->block('/contents/home-main', array(
				'items' => null,
				'title' => __d('contents', 'Related content in this site', true),
				'label' => $this->StaticPage->value('project_key'),
				'paginate' => false,
				'layout' => 'items/layouts/feed',
				'template' => 'items/templates/combifeed',
				)); #}
			</div>

			{% endif %}

		</div>
		<section class="small-12 medium-4 columns">
			
			{% import 'macros/blocks.twig' as blocks %}
			{% import 'macros/lists.twig' as lists %}

			{% if staticPage.Descendants %}
			{{ blocks.widget('Información detallada',  lists.tree(staticPage.Descendants) ) }}
			{% endif %}

			{% if staticPage.Siblings %}
			{{ blocks.widget('Páginas relacionadas',  lists.tree(staticPage.Siblings)) }}
			{% endif %}

		</section>
	</div>
</article>

{% endblock %}
