{% import 'macros/blocks.twig' as blocks %}

{% set description %}
	<p class="mh-media-body">{{ item.Channel.tagline }}</p>
{% endset %}

{% set widget_body %}
	{{ blocks.media_object(item.Channel.icon, description)}}
	{{ blocks.card(item.Channel.image, item.Channel.description)}}
{% endset %}

{% set widget_footer %}
	<a href="blog/{{item.Channel.slug}}" class="mh-btn-view">Visita</a>
	<a href="contents/items/feed/{{item.Channel.slug}}.rss" class="mh-btn-rss right">RSS</a>
{% endset %}

{{ blocks.widget_with_footer(item.Channel.title, widget_body, widget_footer, 'fi-megaphone') }}
