{% import 'macros/blocks.twig' as blocks %}
{% set images = [] %}
{% set multimedia = [] %}
{% set getDownloads = [] %}
{% set widget_body %}
    <ul id="mh-metadata">
        <li><a href="/{{ article.slug }}" class="fi-link">Enlace</a></li>
        <li><a href="#" class="fi-calendar">{{ article.pubDate|date('j/m/Y') }}</a></li>
        {% if article.expiration %}
            <li><a href="#" class="fi-alert">Válido hasta: {{ article.expiration|date('j/m') }}</a></li>
		{% endif %}
        {% if images|length %}
            <li><a href="#mh-images" class="fi-photo">{{ images|length }} imágenes</a></li>
        {% endif %}
        {% if multimedia|length %}
            <li><a href="#mh-multimedia" class="fi-video">{{ multimedia|length }} videos</a></li>
        {% endif %}
        {% if getDownloads|length %}
            <li><a href="#mh-downloads" class="fi-download">{{ getDownloads|length }} archivos</a></li>
        {% endif %}
        <li><a class="fi-eye" id="mh-item-readings">0</a></li>
	</ul>
	<script>
	$(function(){
        $("#mh-item-readings").load("/contents/items/readings/{{ article.id }}");
	});
	</script>
{% endset %}
{{ blocks.widget('Este artículo…', widget_body, 'fi-zoom-in') }}
