{% import 'macros/blocks.twig' as blocks %}

{% set widget_body %}

    <div class="card">
        <div class="media-object card-section">
            <div class="media-object-section">
                {% set icon = channel.icon ? channel.icon : web.icon %}
                <img src="{{ icon }}" alt="" width="51">
            </div>
            <div class="media-object-section main-section">
                <p>{{ channel.tagline }}</p>
            </div>
        </div>
        <div class="button-group tiny float-right">
            <a href="/blog/{{ channel.slug }}" class="button success fi-eye">Visita</a>
            <a href="/contents/items/feed/{{ channel.slug }}.rss" class="button secondary fi-rss">RSS</a>
        </div>
        {% if channel.image %}
            <img src="{{ channel.image }}" alt="" width="100%">
        {% endif %}
        {% if channel.description %}
            <div class="card-section">
                <p>{{ channel.description|raw }}</p>
            </div>
        {% endif %}
    </div>
{% endset %}

{{ blocks.widget(channel.title, widget_body, 'fi-megaphone') }}
