{% extends 'layouts/resumes.twig' %}
{% block content %}
    <div class="mh-resume">
        <div class="row">
            <div class="small-8 columns">
                <h1 class="mh-resume-title">{{ resume.Resume.firstname }} {{ resume.Resume.lastname }}</h1>

                {% if resume.Resume.introduction %}
                    <div class="mh-resume-introduction">{{ resume.Resume.introduction|striptags('<br><p>')|raw }}</div>
                {% endif %}

            </div>
            <div class="small-4 columns">
                <div class="card">
                    {% if resume.Resume.photo %}
                        <img src="{{ resume.Resume.photo }}" alt="" width="250">
                    {% endif %}
                    <div class="card-section">
                        <ul class="vcard">
                            <li class="email">Email: {{ resume.Resume.email }}</li>
                            <li class="phone">Teléfono: {{ resume.Resume.phone }}</li>
                            <li class="mobile">Móvil: {{ resume.Resume.mobile }}</li>
                            <li class="street-address">Dirección: {{ resume.Resume.fulladdress }}</li>
                            <li class="locality">Localidad: {{ resume.Resume.fullcity }}</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>



        {% for type in types %}


            <div class="row mh-resume-section">
                <div class="small-4 columns">
                    <h2 class="mh-resume-section-title">{{ type.MeritType.title }}{# echo $type['MeritType']['title']; #}</h2>
                </div>
                <div class="small-8 columns">
                    {% set lines = attribute(resume, type.MeritType.alias) %}
                    {% for merit in lines %}
                        <div class="row">
                            <div class="small-3 columns">
                                <h3 class="mh-resumes-dates">{{ merit.start }} - {{ merit.end }}</h3>
                            </div>
                            <div class="small-9 columns">
                                <p><strong>{{ merit.title }}</strong></p>
                                <p>{{ merit.remarks }}</p>
                                {% if merit.file %}
                                    <p><a href="{{ merit.file }}">Documentación</a></p>
                                {% endif %}
                            </div>
                        </div>

                    {% else %}
                        <div class="row"><p class="small-12 columns">No hay datos para esta sección.</p></div>

                    {% endfor %}

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}