<h2>Menú desde {{ range.start|date('j/m/Y') }}
    hasta {{ range.end|date('j/m/Y') }}{# echo $this->Page->title($title); #}</h2>

{% set rows = (meals|length)/5 %}

{% set current = range.start %}
<table>
    <thead>
    <th>Lunes</th>
    <th>Martes</th>
    <th>Miércoles</th>
    <th>Jueves</th>
    <th>Viernes</th>
    <th>Info. nutricional</th>
    </thead>
    <tbody>
    {% for row in 1..rows %}
        <tr>
            {% for meal in meals|slice((row-1)*5, 5) %}

                <td>
                    {% set modifier = '+' ~ (meal.weekday - 1) ~' day' %}
                    <p class="text-right">{{ meal.start|date_modify(modifier)|date("j/n") }}</p>
                    <p>{{ meal.menu|nl2br }}</p>

                    </td>

            {% endfor %}

            <td>
                <dl class="mh-nutrition-facts">
                    <dt>Calorías:</dt>
                    <dd>{{ meals[(row-1)*5].calories }}</dd>
                    <dt>Hidratos de carbono:</dt>
                    <dd>{{ meals[(row-1)*5].glucides }}</dd>
                    <dt>Grasas:</dt>
                    <dd>{{ meals[(row-1)*5].lipids }}</dd>
                    <dt>Proteínas:</dt>
                    <dd>{{ meals[(row-1)*5].proteines }}</dd>
                </dl>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
