<div class="mh-cantine-day-menu">
	<header><p>Menú para el día ({{ date()|date('l, j/n/Y') }})</p></header>
	<div class="mh-cantine-meals">
		<h3>Platos</h3>
		<p>{{ meals.menu|nl2br }}</p>
	</div>
	<div class="mh-cantine-facts">
		<h3>Información nutricional (media)</h3>
		<dl class="mh-nutrition-facts">
			<dt>Calorías:</dt>
			<dd>{{ meals.calories }}</dd>
			<dt>Hidratos de carbono:</dt>
			<dd>{{ meals.glucides }}</dd>
			<dt>Grasas:</dt>
			<dd>{{ meals.lipids }}</dd>
			<dt>Proteínas:</dt>
			<dd>{{ meals.proteines }}</dd>
		</dl>
	</div>
</div>
