<h2>Menú para el día ({{ date()|date('l, j/n/Y') }})</h2>
	<div class="body">
		<h3>Platos</h3>
		<p>{{meals.menu|nl2br}}</p>
		<h2>Información nutricional (media)</h2>
		<dl class="mh-nutrition-facts">
			<dt>Calorías:</dt>
			<dd>{{nutrition.calories}}</dd>
			<dt>Hidratos de carbono:</dt>
			<dd>{{nutrition.glucides}}</dd>
			<dt>Grasas:</dt>
			<dd>{{nutrition.lipids}}</dd>
			<dt>Proteínas:</dt>
			<dd>{{nutrition.proteines}}</dd>
		</dl>
	</div>
