<h2>Menú desde {{ range.start|date('j/m/Y') }} hasta {{ range.end|date('j/m/Y') }}</h2>

{% set days = 0 %}
{% set current = range.start %}
<table>
    <thead>
    <th>Lunes</th>
    <th>Martes</th>
    <th>Miércoles</th>
    <th>Jueves</th>
    <th>Viernes</th>
    <th>Info. nutricional</th>
    </thead>
    <tbody>
        <tr>
            {% for meal in meals %}
                {% set weekday = current|date('w') %}
                {% if loop.index == weekday %}
                    <td {% if date(current)|date('ymd') == date()|date('ymd') %}class="today"{% endif %}>
                        <p class="text-right">{{ current|date("j/n") }}</p>
                        <p>{{ meal.menu|nl2br }}</p>

                    </td>

                {% else %}
                    <td><p class="text-right">{{ current|date("j/n") }}</p>
                        <p>{{ meal.menu|nl2br }}</p></td>
                {% endif %}
                {% set current = weekday < 5 ? current|date_modify('+1day') : current|date_modify('+3day') %}
            {% endfor %}

            <td>
                <dl class="mh-nutrition-facts">
                    <dt>Calorías:</dt>
                    <dd>{{ meals[0].calories }}</dd>
                    <dt>Hidratos de carbono:</dt>
                    <dd>{{ meals[0].glucides }}</dd>
                    <dt>Grasas:</dt>
                    <dd>{{ meals[0].lipids }}</dd>
                    <dt>Proteínas:</dt>
                    <dd>{{ meals[0].proteines }}</dd>
                </dl>

            </td>
        </tr>
    </tbody>
</table>
