{% macro widget(title, body, icon) %}
<aside class="mh-widget">
	<header>
		<h1 class="{{ icon }}">{{ title|raw }}</h1>
	</header>
	<div class="body">
        {{ body|raw }}
	</div>
</aside>
{% endmacro %}

{% macro widget_with_footer(title, body, footer, icon) %}
<aside class="mh-widget">
	<header>
		<h1 class="{{ icon }}">{{ title|raw }}</h1>
	</header>
	<div class="body">
        {{ body|raw }}
	</div>
    <footer>
        {{ footer|raw }}
    </footer>
</aside>
{% endmacro %}
