{% macro index(title, abstract, date, channel, image, article_url, channel_url) %}
<div class="article mh-media">
    {% if image %}
    <img src="img/{{ image }}" alt="{{title}}" width="210" height="210" class="left">
    {% endif %}
    <div class="mh-media-body">
        <h2><a href="{{ article_url}}">{{ title }}</a></h2>
        <div class="metadata">
            <span class="date left">{{ date }}</span><span class="channel right"><a href="{{ channel_url }}">{{ channel }}</a></span>
        </div>
        <p>{{ abstract }}</p>
    </div>
</div>
{% endmacro index %}
