{% macro index(article, channel, image) %}
    <div class="article media-object">
        {% if image %}
            <div class="media-object-section">
                <div class="mh-image-crop large" style="background-image: url({{ image }})"></div>
            </div>
        {% endif %}
        <div class="media-object-section main-section">
            <h2>
                <a href="/{{ article.slug }}">{{ article.title }}</a>
            </h2>
            <div class="metadata">
                <span class="date left">{{ article.pubDate|date("j/m/y") }}</span>
                {% if channel %}
                    <span class="channel right">
                        <a href="/blog/{{ channel.slug }}">{{ channel.title }}</a>
                    </span>
                {% endif %}
            </div>
            <p>{{ article.content | striptags| abstract(50) |raw }}</p>
        </div>
    </div>
{% endmacro index %}

{% macro feed(article, channel, image) %}
    <div class="article media-object">
        {% if image %}
            <div class="media-object-section">
                <div class="mh-image-crop small" style="background-image: url({{ image }})"></div>
            </div>
        {% endif %}
        <div class="media-object-section main-section">
            <h2>
                <a href="/{{ article.slug }}">{{ article.title }}</a>
            </h2>
            <div class="metadata">
                <span class="date left">{{ article.pubDate|date("j/m/y") }}</span>
                {% if channel %}
                    <span class="channel right">
                        <a href="/blog/{{ channel.slug }}">{{ channel.title }}</a>
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro feed %}

{% macro channel_index(article, image) %}
    {% set abstract = article.content | striptags | slice(0, 50) ~ '...' %}
    <div class="article media-object">
        {% if image %}
            <div class="media-object-section">
                <div class="mh-image-crop large" style="background-image: url({{ image }})"></div>
            </div>
        {% endif %}
        <div class="media-object-section main-section">
            <h2>
                <a href="/{{ article.slug }}">{{ article.title }}</a>
            </h2>
            <div class="metadata">
                <span class="date left">{{ article.pubDate|date("j/m/y") }}</span>
            </div>
            <p>{{ article.content | striptags| abstract(50) | raw }}</p>
        </div>
    </div>
{% endmacro channel_index %}

{% macro channel_feed(article, channel, image) %}
    <li>
        {% if image %}
            <div class="prefix">
                <div class="mh-image-crop small circle" style="background-image: url({{ image }})"></div>
            </div>
        {% endif %}
        <p class="linked"><a href="/{{ article.slug }}">{{ article.title }}</a></p>
        <div class="description"><span class="date left">{{ article.pubDate|date("j/m/y") }}</span></div>
    </li>
{% endmacro channel_feed %}
