{% macro tree(data, currentDepth) %}
    <ul class="vertical menu">
        {% for page in data %}
            {% if page.depth > currentDepth %}
                <ul class="nested vertical menu">
                {% set currentDepth = page.depth %}
            {% endif %}
            {% if page.depth == currentDepth %}
            <li><a href="/static/{{ page.slug }}">{{ page.title }}</a></li>
            {% endif %}
            {% if page.depth < currentDepth %}
                </ul>
                {% set currentDepth = page.depth %}
                <li><a href="/static/{{ page.slug }}">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}

{% macro list(data) %}
    <ul class="vertical menu">
        {% for page in data %}
            <li><a href="/static/{{ page.slug }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
{% endmacro %}
