{% import 'macros/blocks.twig' as blocks %}

{% set widget_body %}

    <div class="card">
        <div class="media-object card-section">
            <div class="media-object-section">
                {% set icon = web.icon ? web.icon : web.icon %}
                <img src="{{ icon }}" alt="" width="51">
            </div>
            <div class="media-object-section main-section">
                <p>{{ site.description }}</p>
            </div>
		</div>
        <div class="button-group tiny float-right">
            <a href="/blog/{{ site.name }}" class="button success fi-eye">Visita</a>
            <a href="/contents/items/feed/{{ site.name }}.rss" class="button secondary fi-rss">RSS</a>
        </div>

        {% if site.description %}
            <div class="card-section">
                <p>{{ site.description|raw }}</p>
            </div>

        {% endif %}
    </div>
{% endset %}

{{ blocks.widget(site.title, widget_body, 'fi-megaphone') }}
